{% extends "perception/layout.html" %}
{% load static %}

{% block title %}
    | About Us
{% endblock %}

{% block body %}
    <div id="about-container">
        <div id="about-text-parent">
            <div id="about-text-child">
                <h1>About Hatfield CID</h1>
                <br>
                <b>Who is the Hatfield CID <br></b>
                <br>
                <p>
                    Hatfield City District (CID) is non-profit organisation that is funded through a ratepayer’s levy by the
                    property owners within Hatfield for services additional to those delivered by the municipality. Hatfield
                    CID deploys several techniques to regulate crime in Hatfield, this includes using visible security and
                    private operations such as working undercover or working with unemployed, homeless, or previously
                    convicted people to extract information that could be used to regulate crime in Hatfield. However,
                    discreet techniques are not seen publicly, and are therefore, not acknowledged.
                </p>
                <a class="btn btn-outline-light btn-sm" href="https://hatfieldcid.co.za/" target="_blank">Learn More</a>
            </div>
        </div>
        <div id="about-image">
            <img id="hatfield-logo-image" src="{% static 'perception/images/hatfield_cid_logo.png' %}" alt="Hatfield CID Logo">
        </div>
        <div id="problem-solution">
            <div id="problem">
                <h3><b>Problem</b></h3>
                <br>
                <p id="problem-text">
                    Hatfield CID uses formal as well as informal methods to control crime in Hatfield.
                    Residents feel safe when they see lots police cars patroling the streets or police men / women in the streets.
                    By using informal means (car guards, undercover operatives, unemployed, homeless or previosly convicted people)
                    residents will not see or recognise them as activly stopping crime and not feel safe or think the the Hatfield CID
                    is not doing a good job adn therefore not wanting to contribute towards them.
                </p>
            </div>
            <div id="solution">
                <h3><b>Solution</b></h3>
                <br>
                <p id="solution-text">
                    Visually showing the crime rates and how they have changed over time via a dashboard, residents will be able to see
                    that there is not as much crime in Hatfield compared to what there used to be before the Hatfield CID.
                    This should make them aware of the impact that the Hatfield CID is having on the area of Hatfield and get them  
                    involved with the project. Which will not only enable the Hatfield CID to continue their hard work but also 
                    expand their operations further in Hatfield and start CIDs in other areas too.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'perception/index.js' %}"></script>
{% endblock %}