{% extends "perception/layout.html" %}
{% load static %}

{% block title %}
    | About Us
{% endblock %}

{% block body %}
    <div id="about-container">
        <div id="about-us-image">

        </div>
        <div id="about-us-text-parent">
            <div id="about-us-text-child">
                <h1>Who Are We</h1>
                <p>
                    We’re a young and talented group of 3 GMT 320 students from the University of Pretoria with a groundbreaking idea designed to get people to understand the significance of having the Hatfield CID and to let everyone know about the CID's contribution towards regulating crime.  As GitHubbers, we believe that the CID has the right to know that people appreciate the change that they are bringing to our community as well as for the hard work they are doing.
                </p>
                <br>
                <h1>What We Do</h1>
                <p>
                    At GitHubbers, we believe that our solutions make people recognise the Hatfield CID for the work that they are doing. This is our first project but we are certain that our deliverables will have a positive impact on our viewers and the Hatfield CID itself. Continue reading and learn all there is to know about the Hatfield CID
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'perception/index.js' %}"></script>
{% endblock %}