{% extends "perception/layout.html" %}
{% load static %}

{% block title %}
    | Blog
{% endblock %}

{% block body %}
    <a class ="btn btn-outline-light btn-sm" href="{% url 'blog' %}">Back</a>
    <br>
    <br>
    <img src="{% static 'perception/images/blog2_1.png' %}" alt="blog2_1">
    <br>
    <p>
        Whether you are an extrovert or an introvert, group work can be one of the most challenging tasks experienced. 
        GMT320 is a project-focusing module with majority of the tasks consisting of teamwork. Some of the major issues we had with teamwork is:
    </p>
    <ul>
        <li>Being too accustomed to be working alone and struggling to rely on people, thus struggling with delegation of work.</li>
        <li>Having different personalities </li>
        <li>Having a group member removed and having to update and learn about a new group member</li>
    </ul>
    <p>
        This are tips that assisted us in achieving group cohesion in a shorter space of time:
    </p>
    <ol>
        <li>Effective communication:</li>
        <ul>
            <li>
                We planned all our meetings such that everyone had to at least present or raise points in our meetings so everyone could 
                verbally address their concerns or wishes
            </li>
            <li>Every team member’s approval was required before any changes are made</li>
            <li>If a member could not make the meeting, the meeting is either postponed or recorded and discussed with the member</li>
            <li>We used lots of real-time communication mediums such as meeting up in person or on Google Meets, so there was little room for misunderstandings</li>
        </ul>
        <li>Management skills:</li>
        <ul>
            <li>
                To accommodate the work habits of all members, we assigned work several days before due date so the person can do the work in their own space, 
                whether they prefer to work during the day or at night then make our own deadline for project so that everything required for the project 
                can be done before the actual deadline just in case we need to make changes after reviewing everyone’s work. 
                This allows us to manage our time effectively and have enough time to ask for help, instead of requesting help last minute
            </li>
            <li>
                We tracked group performance using a status report which monitors what we want to achieve, 
                when it should be achieved and how far we are from achieving it
            </li>
            <li>
                We divided the work based on the strength and weakness of each member. 
                However, to avoid vertical growth only, we still promote doing task that involves the person’s weakness but with the help of other group members 
                so the person experiences horizontal growth too
            </li>
            <li>
                We plan and comply to meeting schedules and deadlines by communicating them way ahead of time, so the person is fully aware
            </li>
        </ul>
    </ol>
    <p>
        At the end of the day, in the real world you are bound to experience group work, 
        thus it is better to find better ways to work with people. Some of the most advantageous things about working in groups is that you 
        learn new skills from others and create bonds with your colleagues.
    </p>
    <p>Remember, as Henry Ford once said, ‘If everyone is moving forward together, then success takes care of itself’</p>
{% endblock %}

{% block script %}
    <script src="{% static 'perception/index.js' %}"></script>
{% endblock %}