{% extends "perception/layout.html" %}
{% load static %}

{% block title %}
    | Home
{% endblock %}

{% block body %}
    <div id="home-container">
        <div id="home-image">
            <img id="hatfield-image" src="{% static 'perception/images/home_hatfield.jpg' %}" alt="Home Background">
        </div>
        <div id="home-text-parent">
            <div id="home-text-child">
                <h1>Welcome to GitHubbers</h1>
                <p>A way to appreciate the Hatfield CID</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'perception/index.js' %}"></script>
{% endblock %}

