{% extends "perception/layout.html" %}
{% load static %}

{% block title %}
    | Home
{% endblock %}

{% block body %}
    <div id="home-container">
        <div id="home-image">
            <img id="hatfield-image" src="{% static 'perception/images/home_hatfield.jpg' %}" alt="Home Background">
        </div>
        <div id="home-text-parent">
            <div id="home-text-child">
                <h1>Welcome to GitHubbers</h1>
                <p>A way to appreciate the Hatfield CID</p>
            </div>
        </div>
        <div id="who-are-we">
            <div id="who-are-we-image">
                <div id="image-text">
                    <h2 style="text-decoration: underline;">Who We Are</h2>
                </div>
            </div>
            <div id="who-are-we-text">
                <h3>We Are GitHubbers</h3>
                <p>
                    We are a young and talented group of 3 GMT 320 students from the University of Pretoria with a groundbreaking 
                    idea designed to get people to understand the significance of having the Hatfield CID and to let everyone know about the 
                    CID's contribution towards regulating crime.  As GitHubbers, we believe that the CID has the right to know that 
                    people appreciate the change that they are bringing to our community as well as for the hard work they are doing.
                </p>
                <a class="btn btn-outline-light btn-sm" href="{% url 'about_us' %}">Click here for more information about the project</a>
            </div>
        </div>
        <div id="mission-vision-container">
            <h2 style="text-decoration: underline;">Mission & Vision</h2>
            <div id="mission-vision-image-container">
                <img id="mission-vision-image" src="{% static 'perception/images/vision_mission.png' %}" alt="Vision Mission">
                <div id="vision">
                    Elimate the guess work in decision <br> making with rapid access to <br> information in only a few clicks
                </div>
                <div id="mission">
                    Changing the world one map at a time
                </div>
            </div>
        </div>
        <div id="team-container">
            <h2 style="text-decoration: underline;">The Team</h2>
            <div id="team-1">
                <b>Luna Girmay Asefaw</b>
                <br>
                <br>
                <img src="{% static 'perception/images/luna_cv_pic.png' %} " alt="Luna pic">
                <br>
                <br>
                <a class="btn btn-outline-light btn-sm" href="{% static 'perception/pdfs/luna_cv.pdf' %}" download>CV</a>
            </div>
            <div id="team-2">
                <b>Riley Kamstra</b>
                <br>
                <br>
                <img src="{% static 'perception/images/riley_cv_pic.png' %}" alt="Riley pic">
                <br>
                <br>
                <a class="btn btn-outline-light btn-sm" href="{% static 'perception/pdfs/riley_cv.pdf' %}" download>CV</a>
            </div>
            <div id="team-3">
                <b>Charity Makukule</b>
                <br>
                <br>
                <img src="{% static 'perception/images/charity_cv_pic.png' %}" alt="Charity pic">
                <br>
                <br>
                <a class="btn btn-outline-light btn-sm" href="{% static 'perception/pdfs/charity_cv.pdf' %}" download>CV</a>
            </div>
        </div>
        <div id="location-container">
            <h2 style="text-decoration: underline;">Where to find us</h2>
            <div id="location-map"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'perception/index.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
{% endblock %}

