{% extends "perception/layout.html" %}
{% load static %}

{% block title %}
    | Map
{% endblock %}

{% block body %}
<div id="disclaimer">
    <h1><b style="color: white;">BASED ON DUMMY DATA</b></h1>
</div>
    <div id="dashboard-container">
        <div id="side-bar">
            <canvas id="canvas-side-bar"></canvas>
        </div>
        <div id="map-container">
            <div id="map"></div>
            <div id="coordinates">
                Lat: Lon:
            </div>
        </div>
        <div id="line-graph">
            <canvas id="canvas-line-graph"></canvas>
        </div>
        <div id="legend">
            <div id="red">
                <div id="code-red"></div>
                <div id="red-label">>= 100</div>
            </div>
            <div id="orange">
                <div id="orange-label">80 <</div>
                <div id="code-orange"></div>
                <div id="orange-label">< 100</div>
            </div>
            <div id="green">
                <div id="code-green"></div>
                <div id="green-label"><= 80</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'perception/map.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
{% endblock %}