{% extends "perception/layout.html" %}
{% load static %}

{% block title %}
    | Map
{% endblock %}

{% block body %}
    <div id="side-bar"></div>
    <div id="map"></div>
    <div id="line-graph"></div>
    <div id="pie-chart"></div>
    <div id="bar-graph"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'perception/map.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
{% endblock %}