{% extends "perception/layout.html" %}
{% load static %}

{% block title %}
    | Map
{% endblock %}

{% block body %}
    <div id="top-over">
        <div id="side-bar">
            <canvas id="canvas-side-bar"></canvas>
        </div>
        <div id="map"></div>
        <div id="line-graph">
            <canvas id="canvas-line-graph"></canvas>
        </div>
        <div id="pie-chart">
            <canvas id="canvas-pie-chart"></canvas>
        </div>
    </div>
    <div id="down-under">
        <div id="coordinates">
            Lat: Lon:
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'perception/map.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}